<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.mapper.ArticleMapper">
	<insert id="ArticleInsert" parameterType="ArticleVO"
		useGeneratedKeys="true" keyProperty="article_num">
		INSERT INTO
		ARTICLE(CONTENTS,WRITER,LIKE_COUNT,WRITE_TIME,MEMBER_NUM)
		VALUES(#{contents},#{writer},0,now(),#{member_num})
	</insert>

	<insert id="ArticlePhotoInsert" parameterType="Map">
		INSERT INTO ARTICLE_PHOTO(ARTICLE_NUM,PHOTO) VALUES(#{article_num},#{photo})
	</insert>
	
	<select id="selectArticleList" parameterType="int" resultType="ArticleVO">
		select article_num,contents,writer,like_count,Write_Time,member_num from article where member_num=#{member_num} order by write_time desc limit 0,5
	</select>
	<select id="selectArticlePhotoList" parameterType="int" resultMap="photoResultMap">
		select article_num,photo from article_photo where article_num=#{article_num}
	</select>
	<resultMap type="ArticlePhotoVO" id="photoResultMap">
        <result column="photo" property="filePath"/>
    </resultMap>
    
    <select id="articlePhotoView" resultType="articlePhotoVO" parameterType="int" resultMap="photoResultMap">
    	select * from article_photo where article_num=#{article_num}
    </select>
    
    <select id="articleView" resultType="articleVO" parameterType="int">
    	select * from article where article_num=#{article_num}
    </select>
    
    <insert id="commentAdd" parameterType="CommentVO">
    	INSERT INTO COMMENT(ARTICLE_NUM,CONTENT,WRITER,WRITE_DATE) VALUES(#{article_num},#{content},#{writer},now())
    </insert>
    
    <select id="commentSelect" resultType="CommentVO">
		select * from comment where article_num=#{article_num}
    </select>
    
    <select id="selectArticle" resultType="ArticleVO">
    	select article_num,contents,writer,like_count,Write_Time,member_num from article where member_num=#{memberNum} order by write_time desc limit #{count},1
    </select>
    
    <update id="updateLikeCount" parameterType="Map">
    	UPDATE ARTICLE
		SET 
		LIKE_COUNT = #{like_count}
		WHERE
		ARTICLE_NUM =#{article_num}
    </update>
    
    <select id="selectLikeCount" resultType="int">
    	SELECT LIKE_COUNT FROM ARTICLE WHERE ARTICLE_NUM = #{article_num}
    </select>
    
    <insert id="insertLikeWho" parameterType="Map">
     INSERT INTO ARTICLE_LIKE(ARTICLE_NUM,MEMBER_NUM) VALUES(#{article_num},#{memberNum})
    </insert>
    
    <delete id="deleteLikeWho">
    DELETE FROM ARTICLE_LIKE WHERE article_num=#{article_num} and member_num = #{memberNum}
    </delete>
</mapper>
