<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.mapper.UserPageMapper">
	<select id="friendCheck" parameterType="FriendVO" resultType="int">
<!-- 		SELECT COUNT(*) FROM FRIEND WHERE ONE_MEMBER_NUM=${one_member_num} AND OTHER_MEMBER_NUM=${other_member_num} -->
		SELECT COUNT(*) FROM FRIEND WHERE (ONE_MEMBER_NUM=${one_member_num} AND OTHER_MEMBER_NUM=${other_member_num}) OR (ONE_MEMBER_NUM=${other_member_num} AND OTHER_MEMBER_NUM=${one_member_num})
	</select>
	
	<select id="alarmCheck" parameterType="AlarmVO" resultType="int">
		SELECT COUNT(*) FROM ALARM WHERE (TO_MEMBER_NUM=${to_member_num} AND FROM_MEMBER_NUM=${from_member_num} AND TYPE=1) OR (TO_MEMBER_NUM=${from_member_num} AND FROM_MEMBER_NUM=${to_member_num} AND TYPE=1)
	</select>
	
	<insert id="alarmInsert" parameterType="AlarmVO">
		INSERT INTO ALARM(TO_MEMBER_NUM, FROM_MEMBER_NUM, TYPE) VALUES(${to_member_num}, ${from_member_num}, ${type})
	</insert>
	
	<delete id="friendDelete" parameterType="FriendVO">
		DELETE FROM FRIEND WHERE (ONE_MEMBER_NUM=${one_member_num} AND OTHER_MEMBER_NUM=${other_member_num}) OR (ONE_MEMBER_NUM=${other_member_num} AND OTHER_MEMBER_NUM=${one_member_num})
	</delete>
	
	<update id="userPhotoUpdate" parameterType="MemberVO">
		UPDATE MEMBER SET PHOTO=#{photo} WHERE MEMBER_NUM=#{memberNum}
	</update>
	
	<select id="userPhotoSelect" parameterType="MemberVO" resultType="String">
		SELECT PHOTO FROM MEMBER WHERE MEMBER_NUM=#{memberNum}
	</select>
	
	<select id="selectFriendList" resultMap="memberResultMap">
		SELECT ID,NAME,BIRTH,GENDER,ADDRESS,PHOTO,MEMBER_NUM FROM MEMBER WHERE MEMBER_NUM IN (SELECT OTHER_MEMBER_NUM FROM FRIEND WHERE ONE_MEMBER_NUM = #{memberNum})
	</select>
	
	<select id="photoGallery" parameterType="int" resultMap="photoResultMap">
	select article_photo.article_num,article_photo.photo from article left join article_photo on article.article_num = article_photo.article_num where member_num = ${member_num}
	</select>
	
	<resultMap type="ArticlePhotoVO" id="photoResultMap">
        <result column="photo" property="filePath"/>
    </resultMap>
    
	<resultMap type="MemberVO" id="memberResultMap">
        <result column="member_num" property="memberNum"/>
    </resultMap>
</mapper>